{% extends 'asset/base.html' %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center text-center">
        <div class="col-md-8">
            {% load static %}
            <img src="{% static 'artworks/homepage.jpg' %}" alt="Gallery Image" class="img-fluid">
            <h1 class="mt-4">Manage Your Art Collection</h1>
            <p class="lead fw-light">Simplify the way you organize and preserve your art collection with intuitive tools for tracking and managing every detail.</p>
            <a href="{% url 'dashboard' %}" class="btn btn-dark mt-3">Get Started</a>
        </div>
    </div>

    <div class="row text-center mt-5 g-4">
        <div class="col-md-4">
            <i class="bi bi-archive" style="font-size: 3rem; color: #6c757d;"></i>
            <h3 class="mt-3">Organize</h3>
            <p>Keep track of your entire collection with ease.</p>
        </div>
        <div class="col-md-4">
            <i class="bi bi-calendar-check" style="font-size: 3rem; color: #6c757d;"></i>
            <h3 class="mt-3">Track</h3>
            <p>Log purchase dates and appraisal values.</p>
        </div>
        <div class="col-md-4">
            <i class="bi bi-pencil-square" style="font-size: 3rem; color: #6c757d;"></i>
            <h3 class="mt-3">Edit</h3>
            <p>Update details and manage records easily.</p>
        </div>
    </div>

</div>

{% endblock content %}
